<main>
  {{#each result}}
    <div class="hidden hidden-div">
      <p class ="hidden hidden-thing">{{this.title}}</p>
      <p class ="hidden hidden-thing-too">{{this.DescriptionText}}</p>
      <p class ="hidden hidden-speaker">{{this.speaker}}</p>
      <p class ="hidden hidden-end">{{this.endDate}}</p>

    </div>
  {{/each}}
        <section class="current--event">
                <div class="event--header">
                    <div class="comming--soon-timer">
                        <div class="hours">
                            <span>HOURS</span>
                            <span class="hours-span"></span>
                        </div>
                        <div class="minutes">
                            <span>MINUTES</span>
                            <span class="minutes-span"></span>
                        </div>
                        <div class="seconds">
                            <span>SECONDS</span>
                            <span class="seconds-span"></span>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="img/logo.png" alt="" srcset="">
                    </div>
                </div>
                <div class="event--details">
                    <h1 class="main-title">Lorem Ipsum dolor sit amet,contsection adiption elit</h1>
                    <p class="main-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                   <div class="icon--events">


                    <div class="event--speaker">
                        <img src="img/employee.png" alt="speaker icon">
                        <span>SPEAKER</span>
                        <h3 class="speaker">Mostafa Dahduoh</h3>
                    </div>
                    <div class="event--time">
                      <div class="duration">
                        <img src="img/stopwatch.png" alt="stopwatch icon">
                        <span>DURATION</span>
                      </div>
                        <h3 class="timestamp"></h3>
                    </div>
                </div>
                </div>
            </section>
            <section class="upcoming--events">
                <h2>Upcoming Events</h2>
                {{#each result}}
                <span class="hidden-date hidden">{{this.startDate}}</span>
                <div>
                  <div class="event">
                    <div class="event--day">
                      <span class="month"></span>
                      <span class ="day"></span>
                    </div>
                    <div class="event--tittle">
                      <h4 class"the-title">{{this.title}}</h4>
                      <h5 class="start-time"></h5>
                      <h5>{{this.hall}}</h5>
                    </div>
                </div>
              </div>

                    {{/each}}
            </section>
</main>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/dom_functions.js"></script>
<script src="/js/narrowcast.js"></script>
